%form.form-horizontal(method="post" action="/models" enctype="multipart/form-data")
  .control-group
    %label.control-label(for="business_model_description") Description
    .controls
      %input(type="text" name="business_model[description]" id="business_model_description")
  .control-group
    %label.control-label(for="business_model_raw_xml") XML Model
    .controls
      %input(type="file" name="business_model[raw_xml]" id="business_model_raw_xml")
  .control-group
    .controls
      %input.btn.btn-primary(type="submit" value="Create")