.with-hud
  %canvas#canvas
  #info.hud

- content_for(:javascripts) do
  :coffeescript
    fullscreenElements = document.querySelectorAll("[data-fullscreen='true']")
    for element in fullscreenElements
      element.style.width = window.innerWidth + 'px'
      element.style.height = window.innerHeight + 'px'
      element.width = window.innerWidth
      element.height = window.innerHeight

    canvas = document.querySelector('#canvas')
    info = document.querySelector('#info')
    model = new Diagram.Model(canvas, info, gon.visualization_data)
    model.init()